.circulo_div {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #5a5a5a;
    width: 79px;
    height: 79px;
}
.circulo_raio {
    position: absolute;
    top: 18px;
    left: 19px;
    width: 42px;
    height: 42px;
    object-fit: cover;
}

.retangulo_cinza {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 25px;
    width: 683px;
    height: 900px;
    object-fit: cover;
}
.enquadramento3 {
    position: absolute;
    top: calc(50% - 301px);
    left: calc(50% - 102px);
    backdrop-filter: blur(13.6px);
    border-radius: 46px;
    background-color: rgba(255, 255, 255, 0.21);
    border: 1px solid rgba(255, 255, 255, 0.52);
    box-sizing: border-box;
    width: 473px;
    height: 594px;
}
.mulher_tablet {
    position: absolute;
    top: 125px;
    right: 42px;
    width: 936px;
    height: 618px;
    object-fit: cover;
}
.grupo_circulo {
    position: absolute;
    top: 511px;
    left: 348px;
    width: 79px;
    height: 79px;
}
.grupo_imagens {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 978px;
    height: 900px;
}