/* Texto formas de cadastro */
.textFormasCadastro {
    position: absolute;
    top: 0px;
    left: 117.96px;
    display: inline-block;
    width: 294px;
}

/* Texto formas de cadastro */
.grupo_formas_cadastro {
    position: absolute;
    top: 431px;
    left: 0px;
    width: 412px;
    height: 24px;
    font-size: 16px;
    color: #525252;
}

/* Titulo Cadastro */
.textCadastro {
    position: absolute;
    top: -90px;
    left: 108px;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}

/* Caixa de input senha */
.senha {
    position: absolute;
    top: 17px;
    left: 48px;
}

/* Icones de cadastro */
.icone_cadastro {
    position: absolute;
    top: 14px;
    left: 18px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

/* Alinhamento input senha */
.alinhamento_cadastro {
    position: absolute;
    top: 149px;
    left: 25px;
    width: 364px;
    height: 52px;
}

/* Alinhamento input email */
.container_email {
    position: absolute;
    top: 79px;
    left: 25px;
    width: 364px;
    height: 52px;
}

/* Container botão cadastrar */
.container_cadastro {
    position: absolute;
    top: 361px;
    left: 145px;
    width: 124px;
    height: 52px;
    color: #fff;
}

.group-div {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 364px;
    height: 52px;
}

/* Alinhamento input confirmar senha*/
.container_confirmar {
    position: absolute;
    top: 216px;
    left: 25px;
    width: 364px;
    height: 52px;
}

/* Enquadramento completo do cadastro */
.grupo_cadastro {
    position: absolute;
    top: 149px;
    left: 134px;
    width: 412px;
    height: 608px;
}