@ -1,179 +0,0 @@
/* Estilos básicos (MOBILE FIRST) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 6px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('./assets/login_page_img.webp');
    background-size: cover;
    backdrop-filter: blur(5px);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.botao-fechar {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    z-index: 2;
}

.caixa-cadastro {
    position: relative;
}

/* Container do login */
.container-login {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

/* Título */
h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

/* Campos de entrada */
.grupo-input {
    margin-left: -10px;
    width: 110%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    margin-left: 2%;
}

input {
    padding: 13px;
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    border-radius: 10px;
    outline: none;
    transition: background 0.3s, border-color 0.3s, transform 0.2s;
    width: 90%;
    max-width: 350px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

input:focus {
    background: #f0f0f0;
    border-color: #000000;
    transform: scale(1.02);
}

/* Botão de login */
.botao-login {
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s;
}

.botao-login:hover {
    transform: scale(1.0);
}

/* Link de cadastro */
.link-cadastro {
    color: #ffffff;
    margin-top: 1rem;
    font-size: 15px;
}

.link-cadastro a {
    color: #9b9b9b;
    text-decoration: none;
    font-weight: bold;
}

.link-cadastro a:hover {
    color: #ffffff;
}

/* Rodapé */
footer {
    color: #f0f0f0;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
    text-decoration;
}

/* (TABLETS) */
@media (min-width: 600px) {
    .container-login {
        max-width: 400px;
        padding: 2.5rem;
    }
}

/* DESKTOPS */
@media (min-width: 1024px) {
    body {
        padding: 0;
    }

    .container-login {
        max-width: 400px;
        padding: 3rem;
        border-radius: 15px;
    }

    input {
        margin-left: 3.5%;
        width: 100%;
        padding: 16px;
        font-size: 1rem;
    }

    .botao-login {
        width: 100%;
        padding: 15px;
        font-size: 1.1rem;
    }

    .botao-login:hover {
        transform: scale(1.08);
    }
}