.nossas-assinaturas {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 64px;
    font-weight: 500;
}
.selecione-o-plano {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #4b4b4b;
    text-align: center;
}
.nossas-assinaturas-parent {
    position: absolute;
    top: 192px;
    left: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    font-size: 56px;
}
.mensais {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}
.mensais-wrapper {
    width: 88px;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.25) inset;
    border-radius: 10px;
    background: linear-gradient(180deg, #000, #2e2e2e);
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    box-sizing: border-box;
}
.desktop-1-inner {
    position: absolute;
    top: 371px;
    left: 701px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px;
    font-size: 14px;
    color: #fff;
}
.frame-child {
    width: 40px;
    position: relative;
    border-radius: 100px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.basico {
    position: relative;
    line-height: 28px;
    font-weight: 500;
}
.o-melhor-para {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #4b4b4b;
}
.basico-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.frame-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.r20 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 56px;
    font-weight: 500;
}
.por-ms {
    position: absolute;
    top: 28px;
    left: 120px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}
.r20-parent {
    width: 209px;
    position: relative;
    height: 56px;
    font-size: 48px;
}
.frame-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.comprar-wrapper {
    align-self: stretch;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.32) inset;
    border-radius: 12px;
    border: 1px solid #000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    cursor: pointer;
    font-size: 14px;
}
.frame-item {
    width: 284px;
    position: relative;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    height: 1px;
}
.vantagens {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}
.vuesaxlineartick-icon {
    width: 16px;
    position: relative;
    height: 16px;
}
.employee-directory {
    position: relative;
    line-height: 22px;
}
.vuesaxlineartick-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frame-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 15px;
    font-family: Switzer;
}
.vantagens-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
}
.frame-parent {
    position: absolute;
    top: 463px;
    left: 151px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    background-color: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    gap: 40px;
}
.o-melhor-para1 {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}
.por-ms1 {
    position: absolute;
    top: 28px;
    left: 137px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}
.comprar-container {
    align-self: stretch;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.32) inset;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
}
.line-div {
    width: 284px;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    box-sizing: border-box;
    height: 1px;
}
.frame-parent4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
    font-family: Switzer;
}
.frame-parent1 {
    position: absolute;
    top: 463px;
    left: calc(50% - 182px);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.4) inset;
    border-radius: 32px;
    background: linear-gradient(180deg, #000, #333);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    gap: 40px;
    color: #fff;
}
.por-ms2 {
    position: absolute;
    top: 28px;
    left: 149px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
}
.frame-parent5 {
    position: absolute;
    top: 463px;
    left: calc(50% + 205px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    background-color: #fff;
    border: 1px solid #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    gap: 40px;
}
.ellipse-div {
    width: 4px;
    position: relative;
    border-radius: 50%;
    background-color: #000;
    height: 4px;
}
.nossos-planos {
    position: relative;
    letter-spacing: 0.06em;
    line-height: 16px;
    font-weight: 500;
}
.ellipse-parent {
    position: absolute;
    top: 148px;
    left: calc(50% - 65px);
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    gap: 6px;
    font-size: 12px;
}
.button {
    position: relative;
}
.boto-produto {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-funcionalidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-assinaturas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-contatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-embreve {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
    white-space: nowrap;
}
.button4 {
    position: relative;
    cursor: pointer;
}
.lupa-boto {
    width: 101px;
    height: 39px;
}
.moldura-cabecalho {
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 505px);
    width: 760px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 52px;
}
.boto-decadastro {
    position: absolute;
    top: calc(50% - 20px);
    right: 129px;
    border-radius: 6px;
    background-color: #131313;
    width: 125px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}
.cabecalho-pagina-principal {
    position: absolute;
    top: -4px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    height: 104px;
    overflow: hidden;
    font-size: 16px;
    color: #131313;
    font-family: Inter;
}
.xneedware-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.72);
}
.avatar-icon {
    position: absolute;
    top: 25px;
    left: 1344px;
    border-radius: 100px;
    width: 51px;
    height: 51px;
    overflow: hidden;
    cursor: pointer;
}
.container {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1438px;
    height: 107px;
}
.copyright {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 18px;
}
.copyright-wrapper {
    position: absolute;
    top: 72px;
    left: 89px;
    width: 342px;
    height: 18px;
}
.all-rights-reserved {
    line-height: 18px;
}
.terms-and-conditions {
    text-decoration: underline;
    line-height: 30px;
    color: #adabc3;
}
.footer-right {
    position: absolute;
    top: 66px;
    left: 832px;
    text-align: right;
}
.wrapper {
    position: absolute;
    top: 0px;
    left: 21px;
    width: 1438px;
    height: 107px;
}
.rodap1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    overflow: hidden;
}
.rodap {
    position: absolute;
    height: 7.75%;
    width: 100%;
    top: 92.25%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    overflow: hidden;
    color: #9795b5;
    font-family: 'DM Sans';
}
.desktop-1 {
    width: 1440px;
    position: relative;
    background-color: #fff;
    height: 1716px;
    overflow: hidden;
    flex-shrink: 0;
}
.pagina-assinatura {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
}

