.cabecalho {
    position: absolute;
    width: 100%;
    height: 104px;
    top: 0;
    left: 1px;
    background-color: transparent;
    z-index: 1000;
  }
  
  .itens-cabecalho {
    position: absolute;
    width: 1440px;
    height: 104px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo {
    position: absolute;
    top: 9px;
    left: 0;
    padding: 10px;
  }
  
  .logo-texto {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.72);
  }
  
  .logo-texto:hover {
    text-shadow: 0px 2px 4px #000000b8;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  .moldura-cabecalho {
    display: flex;
    width: 760px;
    gap: 52px;
    position: absolute;
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .botao_cabecalho {
    all: unset;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
  }
  
  .botao_cabecalho::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #858585;
    transition: width 0.5s ease;
  }
  
  .botao_cabecalho:hover {
    color: #858585;
  }
  
  .botao_cabecalho:hover::after {
    width: 100%;
  }
  
  .boto-decadastro {
    position: absolute;
    top: 32px;
    left: 1186px;
    background: #000; /* Preto sólido */
    color: #fff;
    padding: 12px 26px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px; /* Cantos mais arredondados */
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
  }
  
  .boto-decadastro:hover {
    background: #333; /* Preto levemente mais claro */
    transform: scale(1.05);
  }
  
  .boto-decadastro:active {
    transform: scale(0.98);
  }
  .button-3 {
    background: #000; /* Preto sólido */
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px; /* Bordas arredondadas no estilo Apple */
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  .avatar {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 25px;
    left: 98%;
  }


  .titulo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #000;
    
    text-align: center;
    
  }

  .textoDigitado {
    margin-top: 12%;
    border-right: 2px solid black;
    
    height: 40px;
    margin-bottom: 0px;
    color: #000;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    overflow: hidden;
  }