body {
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    text-align: center;
}
.botao-cabecalho {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    color: #000000c7;
    font-size: 14pt;
}
.avatar {
    display: block;
}
.itens-cabecalho {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin: auto;

    
}
.texto-logo {
    font-weight: 600;
    color: #000000b7;
    font-size: 18pt;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.72);
    cursor: pointer;
    margin-right: 6%;
    margin-top: 1.7%;


}
.boto-produtos {
    margin-top: 2.5%;
}
.boto-sobrenos {
    margin-top: 2.5%;
}
.boto-assinaturas {
    margin-top: 2.5%;
}
.boto-contatos {
    margin-top: 2.5%;
}
.boto-devmode {
    margin-top: 2.5%;
}
.barra {
    margin-top: 1.5%;
    font-size: 23pt;
}
.botao-login {
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: white;    top: 0;
    padding-top: 10px;
    padding-bottom: 0;
    width: 125px;
    background-color: #00000069;
    
}
.boto-login {
    margin-top: 2.6%;
}
.botao-cadastro {
    color: rgb(255, 255, 255);
    padding: 8px;
    width: 100%;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s;

}
.boto-cadastro {
    margin-top: 2.6%;
}

.boto-cadastro :hover {
    transform: scale(1.05);
    text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}
.boto-login :hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.2);
}
.boto-produtos :hover {
    transform: scale(1.05);
    transition: 0.1s;
    text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.2);
}
.boto-sobrenos :hover {
    transform: scale(1.05);
    transition: 0.1s;
    text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.2);
}
.boto-assinaturas :hover {
    transform: scale(1.05);
    transition: 0.1s;
    text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.2);
}
.boto-contatos :hover {
    transform: scale(1.05);
    transition: 0.1s;
    text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.2);
}
.boto-devmode :hover {
    transform: scale(1.05);
    transition: 0.1s;
    text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.2);
}
.texto-logo :hover {
    transform: scale(1.05);
    transition: 0.1s;
    text-shadow: 0px 16px 21px rgba(0, 0, 0, 0.2);
}