.slides-box-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
}
.arrow-left-icon {
    width: 100%;
    position: relative;
    height: 24px;
}

.click-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
}
.dot-indictaor-1 {
    width: 16px;
    position: relative;
    height: 16px;
}
.dot-indictaor-2 {
    width: 12px;
    position: relative;
    height: 12px;
    opacity: 0.5;
}
.slide-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    gap: 10px;
}
.slides-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}
.carousel {
    position: absolute;
    top: 95px;
    left: calc(50% - 789.5px);
    width: 1580px;
    height: 667px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 64px;
    box-sizing: border-box;
    gap: 24px;
}
.somos-uma-startup {
    position: absolute;
    top: 907px;
    left: 79px;
    font-size: 24px;
    line-height: 27px;
    font-family: Lato;
    display: inline-block;
    width: 841px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
    cursor: pointer;
}
.xneedware {
    position: relative;
    font-weight: 600;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.72);
}
.xneedware-wrapper {
    position: absolute;
    top: 9px;
    left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Poppins;
}
.button {
    position: relative;
}
.boto-produto {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-funcionalidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-assinaturas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-contatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-embreve {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
    white-space: nowrap;
}
.lupa-boto {
    width: 101px;
    height: 39px;
}
.moldura-cabecalho {
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 505px);
    width: 760px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 52px;
}
.iconly {
    width: 18px;
    position: relative;
    height: 18px;
}
.boto-de-pesquisa {
    position: absolute;
    top: calc(50% - 19px);
    right: 290px;
    border-radius: 6px;
    border: 1px solid #131313;
    box-sizing: border-box;
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    gap: 10px;
}
.boto-decadastro {
    position: absolute;
    top: calc(50% - 20px);
    right: 129px;
    border-radius: 6px;
    background-color: #131313;
    width: 125px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}
.cabecalho-pagina-principal {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #faf9f9;
    width: 1440px;
    height: 104px;
    overflow: hidden;
}
.cabecalho-pagina-principal-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 104px;
}
.cabecalho {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 104px;
    display: none;
}
.pagina-inicial-child {
    position: absolute;
    top: 739px;
    left: 64px;
    width: 628px;
    height: 144px;
}
.boto-produto1 {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.button9 {
    position: relative;
    cursor: pointer;
}
.cabecalho-pagina-principal1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    height: 104px;
    overflow: hidden;
}
.boto-decadastro2 {
    position: absolute;
    top: calc(50% + 497.5px);
    right: 1198px;
    border-radius: 6px;
    background-color: #131313;
    width: 166px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}
.cabecalho-pagina-principal-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 1073px;
}
.avatar-icon {
    position: absolute;
    top: 25px;
    left: 1344px;
    border-radius: 100px;
    width: 51px;
    height: 51px;
    overflow: hidden;
    cursor: pointer;
}
.container {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1438px;
    height: 107px;
}
.copyright {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 18px;
}
.copyright-wrapper {
    position: absolute;
    top: 72px;
    left: 89px;
    width: 342px;
    height: 18px;
}
.all-rights-reserved {
    line-height: 18px;
}
.terms-and-conditions {
    text-decoration: underline;
    line-height: 30px;
    color: #adabc3;
}
.footer-right {
    position: absolute;
    top: 66px;
    left: 832px;
    text-align: right;
}
.wrapper {
    position: absolute;
    top: 0px;
    left: 21px;
    width: 1438px;
    height: 107px;
}
.rodap1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    overflow: hidden;
}
.container2 {
    position: absolute;
    top: 0px;
    left: calc(50% - 726px);
    background-color: #fff;
    width: 1452px;
    height: 120px;
}
.copyright2 {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 18px;
    display: inline-block;
    width: 342.5px;
    height: 20.2px;
}
.copyright-frame {
    position: absolute;
    top: 48px;
    left: 90px;
    width: 342.5px;
    height: 20.2px;
}
.footer-right2 {
    position: absolute;
    top: 41px;
    left: 914px;
    text-align: right;
    display: inline-block;
    width: 482.7px;
    height: 33.6px;
}
.wrapper2 {
    position: absolute;
    top: -6px;
    left: calc(50% - 732px);
    width: 1452px;
    height: 120px;
}
.rodap {
    position: absolute;
    height: 8.23%;
    width: 100.35%;
    top: 91.77%;
    right: -0.35%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    overflow: hidden;
    font-size: 18px;
    color: #9795b5;
    font-family: 'DM Sans';
}
.pagina-inicial {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1252px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #131313;
    font-family: Inter;
}
