:root {
  /* Definição de variáveis para cores */
  --neutral-colorstext-gray: rgba(151, 149, 181, 1); /* Cor de texto cinza neutro */
  --colorsneutralblack: rgba(19, 19, 19, 1); /* Cor preta neutra */
  --colorsneutralwhite: rgba(255, 255, 255, 1); /* Cor branca neutra */
  --neutral-colorswhite: rgba(255, 255, 255, 1); /* Outra definição para cor branca neutra */
  
  /* Definição de estilos de fontes para o texto */
  --text-single-200-regular-font-family: "DM Sans", Helvetica; /* Família de fontes para o texto */
  --text-single-200-regular-font-weight: 400; /* Peso da fonte (normal, não negrito) */
  --text-single-200-regular-font-size: 18px; /* Tamanho da fonte (18px) */
  --text-single-200-regular-letter-spacing: 0px; /* Espaçamento entre as letras (sem espaço) */
  --text-single-200-regular-line-height: 18px; /* Altura da linha (mesmo valor que o tamanho da fonte) */
  --text-single-200-regular-font-style: normal; /* Estilo de fonte (normal, sem itálico) */

  /* Definição de estilos de fontes para links de texto */
  --rich-text-text-link-regular-font-family: "DM Sans", Helvetica; /* Família de fontes para o link de texto */
  --rich-text-text-link-regular-font-weight: 400; /* Peso da fonte do link de texto (normal) */
  --rich-text-text-link-regular-font-size: 18px; /* Tamanho da fonte do link de texto */
  --rich-text-text-link-regular-letter-spacing: 0px; /* Espaçamento entre as letras do link de texto */
  --rich-text-text-link-regular-line-height: 30px; /* Altura da linha do link de texto (maior que o tamanho da fonte) */
  --rich-text-text-link-regular-font-style: normal; /* Estilo de fonte do link de texto (normal) */
}
