.pagina-funcionaldades-child {
    position: absolute;
    top: 2315px;
    left: 0px;
    width: 1920px;
    height: 1018px;
    display: none;
}
.rectangle {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1432px;
    height: 87.2px;
    display: none;
}
.group-child {
    position: absolute;
    top: 1016.89px;
    left: 0px;
    background-color: #efefef;
    width: 711px;
    height: 400px;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 317.25px;
    width: 74.5px;
    height: 45.2px;
    opacity: 0.5;
}
.rectangle-parent {
    position: absolute;
    top: 2156.11px;
    left: 249px;
    width: 711px;
    height: 1416.9px;
    display: none;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #c4c4c4;
    width: 330px;
    height: 330px;
}
.rectangle-div {
    position: absolute;
    top: 273px;
    left: 16px;
    background-color: #000;
    width: 300px;
    height: 57px;
}
.group-child1 {
    position: absolute;
    top: 339px;
    left: 316px;
    background-color: #8afcf5;
    width: 300px;
    height: 9px;
    transform:  rotate(-180deg);
    transform-origin: 0 0;
}
.group-child2 {
    position: absolute;
    top: 0px;
    left: 373px;
    background-color: #c4c4c4;
    width: 330px;
    height: 330px;
}
.group-child3 {
    position: absolute;
    top: 0px;
    left: 754px;
    background-color: #c4c4c4;
    width: 330px;
    height: 330px;
}
.group-child4 {
    position: absolute;
    top: 0px;
    left: 1112px;
    background-color: #c4c4c4;
    width: 330px;
    height: 330px;
}
.rectangle-group {
    position: absolute;
    top: 3106px;
    left: 249px;
    width: 1442px;
    height: 339px;
    display: none;
}
.mask-group-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 454px;
    height: 454px;
    object-fit: cover;
}
.cape-cod {
    position: absolute;
    top: 488px;
    left: 161px;
    line-height: 26px;
    font-weight: 500;
}
.tile-2 {
    position: absolute;
    top: 0px;
    left: 484px;
    width: 454px;
    height: 514px;
}
.tile-4 {
    position: absolute;
    top: 0px;
    left: 1936px;
    width: 454px;
    height: 514px;
}
.group-child5 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #c4c4c4;
    width: 454px;
    height: 454px;
}
.rectangle-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 454px;
    height: 454px;
}
.fusion-glass {
    position: absolute;
    top: 488px;
    left: 154px;
    line-height: 26px;
    font-weight: 500;
}
.tile-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 454px;
    height: 514px;
}
.tile-5 {
    position: absolute;
    top: 0px;
    left: 1452px;
    width: 454px;
    height: 514px;
}
.marble {
    position: absolute;
    top: 488px;
    left: 187px;
    line-height: 26px;
    font-weight: 500;
}
.tile-3 {
    position: absolute;
    top: 0px;
    left: 968px;
    width: 454px;
    height: 514px;
}
.tread {
    position: absolute;
    top: 488px;
    left: 197px;
    line-height: 26px;
    font-weight: 500;
}
.tile-6 {
    position: absolute;
    top: 0px;
    left: 2420px;
    width: 454px;
    height: 514px;
}
.tile-2-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2874px;
    height: 514px;
}
.pagina-funcionaldades-inner {
    position: absolute;
    top: 2529px;
    left: 249px;
    width: 1422px;
    height: 514px;
    overflow-x: auto;
    display: none;
    font-size: 26px;
    color: #111010;
    font-family: 'Proxima Nova';
}
.group-child7 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #111010;
    width: 180px;
    height: 52px;
}
.view-all {
    position: absolute;
    top: 14px;
    left: 54px;
    text-transform: uppercase;
}
.rectangle-parent1 {
    position: absolute;
    top: 3093px;
    left: 870px;
    width: 180px;
    height: 52px;
    display: none;
}
.vector-icon {
    position: absolute;
    top: 2465px;
    left: 0px;
    width: 1920px;
    height: 509px;
    opacity: 0.5;
}
.mask-group-icon4 {
    position: absolute;
    top: 0px;
    left: 489px;
    width: 886px;
    height: 231px;
    object-fit: cover;
}
.group-child8 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 572px;
    height: 231.5px;
}
.lorem-ipsum-is {
    position: absolute;
    top: 70px;
    left: 0px;
    line-height: 28px;
    display: inline-block;
    width: 481px;
}
.promotional-banner {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 40px;
    font-family: Poppins;
    color: #000;
}
.lorem-ipsum-is-simply-dummy-te-parent {
    position: absolute;
    top: 39px;
    left: 32px;
    width: 481px;
    height: 154px;
}
.mask-group-parent {
    position: absolute;
    top: 2642px;
    left: 272px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    width: 1375px;
    height: 231.5px;
    text-align: left;
    font-size: 20px;
    color: #616161;
    font-family: 'Proxima Nova';
}
.mask-group-icon5 {
    position: absolute;
    top: 0px;
    left: 327.91px;
    width: 301.6px;
    height: 345px;
    object-fit: cover;
    background-color: #252525;
}
.mask-group-icon6 {
    position: absolute;
    top: 0px;
    left: 657.63px;
    width: 301.6px;
    height: 345px;
    object-fit: cover;
    background-color: #252525;
}
.mask-group-icon7 {
    position: absolute;
    top: 0px;
    left: 987.36px;
    width: 301.6px;
    height: 345px;
    object-fit: cover;
    background-color: #252525;
}
.group-child9 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #252525;
    width: 297.1px;
    height: 345px;
}
.lorem-ipsum-is1 {
    position: absolute;
    top: 115.29px;
    left: 24.46px;
    font-size: 18px;
    line-height: 28px;
    color: #bcbcbc;
    display: inline-block;
    width: 231px;
    height: 142px;
}
.t {
    position: absolute;
    top: 24px;
    left: 28px;
    display: inline-block;
    width: 112.3px;
    height: 21.5px;
}
.group-child10 {
    position: absolute;
    top: 0px;
    left: 332.44px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(196, 196, 196, 0));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #252525;
    width: 297.1px;
    height: 345px;
}
.group-child11 {
    position: absolute;
    top: 0px;
    left: 657.63px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(196, 196, 196, 0));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #252525;
    width: 297.1px;
    height: 345px;
}
.group-child12 {
    position: absolute;
    top: 0px;
    left: 987.36px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(196, 196, 196, 0));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #252525;
    width: 299.8px;
    height: 345px;
}
.t1 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 133.2px;
    height: 21.5px;
    
}
.t-wrapper {
    position: absolute;
    top: 19px;
    left: 348px;
    width: 133.2px;
    height: 21.5px;
    background-color: #252525;
    
}
.t2 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 157px;
    height: 21px;
   
}
.t-container {
    position: absolute;
    top: 20px;
    left: 676px;
    width: 157px;
    height: 21px;
    background-color: #252525;
}
.t3 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 171px;
    height: 21px;
  
}
.t-frame {
    position: absolute;
    top: 20px;
    left: 1002px;
    width: 171px;
    height: 21px;
    background-color: #252525;
}
.mask-group-group {
    position: absolute;
    top: 298px;
    left: 75px;
    width: 1289px;
    height: 345px;
    text-align: left;
    font-size: 25px;
    
}
.showing-1- {
    position: absolute;
    top: 939.18px;
    left: 0px;
    line-height: 28px;
    font-family: 'Proxima Nova';
    color: #808080;
    display: inline-block;
    width: 181px;
    height: 23px;
}
.filter {
    position: absolute;
    top: 940.18px;
    left: 275.75px;
    line-height: 28px;
}
.sort-by-price {
    position: absolute;
    top: 940.18px;
    left: 345.75px;
    line-height: 28px;
}
.group-child13 {
    position: absolute;
    top: 6px;
    left: 0px;
    background-color: #252525;
    width: 5px;
    height: 5px;
}
.group-child14 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #252525;
    width: 5px;
    height: 5px;
}
.group-child15 {
    position: absolute;
    top: 0px;
    left: 6px;
    background-color: #252525;
    width: 17px;
    height: 5px;
}
.group-child16 {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: #252525;
    width: 17px;
    height: 5px;
}
.group-child17 {
    position: absolute;
    top: 12px;
    left: 6px;
    background-color: #252525;
    width: 17px;
    height: 5px;
}
.group-child18 {
    position: absolute;
    top: 12px;
    left: 0px;
    background-color: #252525;
    width: 5px;
    height: 5px;
}
.rectangle-parent2 {
    position: absolute;
    top: 947.18px;
    left: 508.75px;
    width: 23px;
    height: 17px;
}
.group-child19 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #252525;
    width: 11px;
    height: 17px;
}
.group-child20 {
    position: absolute;
    top: 0px;
    left: 12px;
    background-color: #252525;
    width: 11px;
    height: 17px;
}
.rectangle-parent3 {
    position: absolute;
    top: 947.18px;
    left: 543.75px;
    width: 23px;
    height: 17px;
}
.group-child21 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #252525;
    width: 7px;
    height: 17px;
}
.group-child22 {
    position: absolute;
    top: 0px;
    left: 8px;
    background-color: #252525;
    width: 7px;
    height: 17px;
}
.group-child23 {
    position: absolute;
    top: 0px;
    left: 16px;
    background-color: #252525;
    width: 7px;
    height: 17px;
}
.rectangle-parent4 {
    position: absolute;
    top: 947.18px;
    left: 578.75px;
    width: 23px;
    height: 17px;
}
.group-child24 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #252525;
    width: 5px;
    height: 17px;
}
.group-child25 {
    position: absolute;
    top: 0px;
    left: 6px;
    background-color: #252525;
    width: 5px;
    height: 17px;
}
.group-child26 {
    position: absolute;
    top: 0px;
    left: 12px;
    background-color: #252525;
    width: 5px;
    height: 17px;
}
.group-child27 {
    position: absolute;
    top: 0px;
    left: 18px;
    background-color: #252525;
    width: 5px;
    height: 17px;
}
.rectangle-parent5 {
    position: absolute;
    top: 947.18px;
    left: 613.75px;
    width: 23px;
    height: 17px;
}
.rectangle-parent6 {
    position: absolute;
    top: 947.18px;
    left: 648.75px;
    width: 23px;
    height: 17px;
}
.group-child32 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #252525;
    width: 4px;
    height: 17px;
}
.group-child33 {
    position: absolute;
    top: 0px;
    left: 5px;
    background-color: #252525;
    width: 4px;
    height: 17px;
}
.group-child34 {
    position: absolute;
    top: 0px;
    left: 10px;
    background-color: #252525;
    width: 3px;
    height: 17px;
}
.group-child35 {
    position: absolute;
    top: 0px;
    left: 14px;
    background-color: #252525;
    width: 4px;
    height: 17px;
}
.group-child36 {
    position: absolute;
    top: 0px;
    left: 19px;
    background-color: #252525;
    width: 4px;
    height: 17px;
}
.rectangle-parent7 {
    position: absolute;
    top: 947.18px;
    left: 683.75px;
    width: 23px;
    height: 17px;
}
.group-icon {
    position: absolute;
    height: 0.3%;
    width: 1.27%;
    top: 0.09%;
    right: 98.73%;
    bottom: 99.61%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-icon1 {
    position: absolute;
    height: 0.54%;
    width: 1.91%;
    top: 0%;
    right: 82.39%;
    bottom: 99.46%;
    left: 15.7%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-child37 {
    position: absolute;
    top: 952.18px;
    left: 435.75px;
    width: 8px;
    height: 4px;
}
.lorem-ipsum-is2 {
    position: absolute;
    top: 46px;
    left: 95.75px;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    display: inline-block;
    width: 231px;
    height: 142px;
}
.filter-parent {
    position: absolute;
    top: 0px;
    left: 716.25px;
    width: 706.8px;
    height: 968.2px;
    color: #252525;
}
.lorem-ipsum-is3 {
    position: absolute;
    top: 46px;
    left: 158px;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    width: 231px;
    height: 142px;
}
.lorem-ipsum-is4 {
    position: absolute;
    top: 46px;
    left: 483px;
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    width: 231px;
    height: 142px;
}
.showing-1-15-of-22-results-parent {
    position: absolute;
    top: 367px;
    left: 250px;
    width: 1423px;
    height: 968.2px;
    text-align: left;
    font-size: 15px;
    color: #bcbcbc;
}
.group-child38 {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    background-color: #f6f6f6;
    width: 333px;
    height: 470px;
}
.icon {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 333px;
    height: 333px;
    object-fit: cover;
}
.group-child39 {
    position: absolute;
    top: 358px;
    left: 0px;
    background-color: #fff;
    width: 333px;
    height: 112px;
}
.sar {
    position: absolute;
    top: 0px;
    left: 73px;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 600;
}
.sar1 {
    position: absolute;
    top: 2.87px;
    left: 0px;
    font-size: 12px;
    text-decoration: line-through;
    line-height: 12px;
    text-transform: capitalize;
    color: #cacaca;
}
.sar-parent {
    position: absolute;
    top: 427px;
    left: 86px;
    width: 161px;
    height: 18px;
}
.zurich-pearl-6060 {
    position: absolute;
    top: 383px;
    left: 55px;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111010;
}
.rectangle-parent8 {
    position: absolute;
    top: 0px;
    left: 363px;
    width: 333px;
    height: 470px;
}
.windsor-white-oak {
    position: absolute;
    top: 382px;
    left: 55px;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111010;
}
.rectangle-parent9 {
    position: absolute;
    top: 500px;
    left: 0px;
    width: 333px;
    height: 470px;
}
.sicily-grey-dcor {
    position: absolute;
    top: 382px;
    left: 29px;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111010;
}
.rectangle-parent10 {
    position: absolute;
    top: 500px;
    left: 363px;
    width: 333px;
    height: 470px;
}
.zurich-grey-6060 {
    position: absolute;
    top: 383px;
    left: 57px;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111010;
}
.rectangle-parent11 {
    position: absolute;
    top: 0px;
    left: 726px;
    width: 333px;
    height: 470px;
}
.sardinia-white {
    position: absolute;
    top: 382px;
    left: 82px;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111010;
}
.rectangle-parent12 {
    position: absolute;
    top: 500px;
    left: 726px;
    width: 333px;
    height: 470px;
}
.zurich-dark-grey {
    position: absolute;
    top: 383px;
    left: 27px;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111010;
}
.rectangle-parent13 {
    position: absolute;
    top: 0px;
    left: 1089px;
    width: 333px;
    height: 470px;
}
.sicily-grey-3060 {
    position: absolute;
    top: 382px;
    left: 65px;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
    color: #111010;
}
.rectangle-parent14 {
    position: absolute;
    top: 500px;
    left: 1089px;
    width: 333px;
    height: 470px;
}
.group-parent {
    position: absolute;
    top: 1396px;
    left: 248px;
    width: 1422px;
    height: 970px;
    font-size: 18px;
    color: rgba(17, 16, 16, 0.5);
    font-family: 'Proxima Nova';
}
.component-1-child {
    position: absolute;
    height: 88.68%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 11.32%;
    left: 0%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
    background-color: #f6f6f6;
}
.icon7 {
    position: absolute;
    height: 62.83%;
    width: 100%;
    top: 2.26%;
    right: 0%;
    bottom: 34.91%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.component-1-item {
    position: absolute;
    height: 20.57%;
    width: 100%;
    top: 68.11%;
    right: 0%;
    bottom: 11.32%;
    left: 0%;
    background-color: #fff;
}
.sar14 {
    position: absolute;
    top: 15.94%;
    left: 0%;
    text-decoration: line-through;
    line-height: 12px;
    text-transform: capitalize;
}
.sar15 {
    position: absolute;
    top: 0%;
    left: 42.68%;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgba(17, 16, 16, 0.5);
}
.sar-parent5 {
    position: absolute;
    height: 3.4%;
    width: 49.25%;
    top: 81.26%;
    right: 27.33%;
    bottom: 15.35%;
    left: 23.42%;
    color: #cacaca;
}
.group-child52 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border: 2px solid #111010;
    box-sizing: border-box;
    opacity: 0;
}
.add-to-cart {
    position: absolute;
    height: 38.75%;
    width: 58.33%;
    top: 30.77%;
    left: 21.11%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.rectangle-parent15 {
    position: absolute;
    height: 1.51%;
    width: 54.05%;
    top: 85.28%;
    right: 23.12%;
    bottom: 13.21%;
    left: 22.82%;
    font-size: 16px;
    font-family: Poppins;
}
.zurich-vision-6060 {
    position: absolute;
    top: 73.58%;
    left: 14.71%;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: 600;
}
.component-1 {
    position: absolute;
    top: 1396px;
    left: 248px;
    width: 333px;
    height: 530px;
    font-size: 12px;
    color: #111010;
    font-family: 'Proxima Nova';
}
.load-more {
    position: absolute;
    top: 14px;
    left: 43px;
    text-transform: uppercase;
}
.rectangle-parent16 {
    position: absolute;
    top: 2466px;
    left: 870px;
    width: 180px;
    height: 52px;
}
.group-child54 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #111010;
    width: 1920px;
    height: 304px;
}
.vector-icon1 {
    position: absolute;
    top: 68px;
    left: 250px;
    width: 162px;
    height: 57px;
}
.group-child55 {
    position: absolute;
    top: 207px;
    left: 306.19px;
    width: 18px;
    height: 18px;
}
.group-child56 {
    position: absolute;
    top: 209px;
    left: 273.31px;
    width: 17.9px;
    height: 14.5px;
}
.group-child57 {
    position: absolute;
    top: 208px;
    left: 250px;
    width: 8.3px;
    height: 16px;
}
.copyright-2022 {
    position: absolute;
    top: 268px;
    left: 248px;
    font-size: 9px;
    letter-spacing: 0.18px;
    font-family: 'Proxima Nova';
}
.thecreationdesign {
    color: inherit;
    font-family: Poppins;
}
.created-with-love-container {
    position: absolute;
    top: 266px;
    left: 1504px;
    font-size: 9px;
    letter-spacing: 0.18px;
    text-align: right;
    font-family: 'Proxima Nova';
}
.products {
    position: absolute;
    top: 68px;
    left: 722px;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 74px;
}
.services {
    position: absolute;
    top: 68px;
    left: 1004px;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 183px;
}
.measurement-service {
    margin: 0;
}
.measurement-service-product-container {
    position: absolute;
    top: 104px;
    left: 1004px;
    line-height: 170%;
    text-transform: capitalize;
    color: #a4a4a4;
    display: inline-block;
    width: 183px;
}
.contact-information {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 173px;
}
.al-imam-saud-container {
    position: absolute;
    top: 36px;
    left: 0px;
    line-height: 170%;
    text-transform: capitalize;
    display: inline-block;
    width: 331px;
}
.contact-information-parent {
    position: absolute;
    top: 68px;
    left: 1340px;
    width: 331px;
    height: 108px;
}
.sand-stone {
    margin: 0;
    color: #fff;
}
.sand-stone-stone-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 170%;
    text-transform: capitalize;
    display: inline-block;
    width: 90px;
}
.sand-stone-stone-cement-soft-s-wrapper {
    position: absolute;
    top: 104px;
    left: 722px;
    width: 90px;
    height: 96px;
    color: #a4a4a4;
}
.rectangle-parent17 {
    position: absolute;
    top: 2974px;
    left: 0px;
    width: 1920px;
    height: 304px;
    text-align: left;
    font-size: 14px;
}
.button {
    position: relative;
}
.boto-produto {
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.boto-funcionalidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
}
.boto-segmentos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.lupa-boto {
    width: 101px;
    height: 39px;
}
.moldura-cabealho {
    position: absolute;
    top: calc(50% - 21px);
    left: calc(50% - 505px);
    width: 760px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 52px;
}
.iconly {
    width: 18px;
    position: relative;
    height: 18px;
}
.boto-de-pesquisa {
    position: absolute;
    top: calc(50% - 19px);
    right: 290px;
    border-radius: 6px;
    border: 1px solid #131313;
    box-sizing: border-box;
    width: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    gap: 10px;
}
.boto-decadastro {
    position: absolute;
    top: calc(50% - 20px);
    right: 129px;
    border-radius: 6px;
    background-color: #131313;
    width: 125px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    box-sizing: border-box;
    cursor: pointer;
    color: #fff;
}
.cabealho-pagina-principal {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #faf9f9;
    width: 1440px;
    height: 104px;
    overflow: hidden;
}
.cabealho-pagina-principal-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 104px;
}
.xneedware {
    position: relative;
    font-weight: 600;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.72);
}
.xneedware-wrapper {
    position: absolute;
    top: 9px;
    left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: Poppins;
}
.avatar-icon {
    position: absolute;
    top: 25px;
    left: 1344px;
    border-radius: 100px;
    width: 51px;
    height: 51px;
    overflow: hidden;
    cursor: pointer;
}
.cabealho {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 104px;
    text-align: left;
    color: #131313;
    font-family: Inter;
}
.pagina-funcionaldades {
    width: 100%;
    position: relative;
    border-radius: 50px;
    background-color: #fff;
    height: 940px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}

