* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v262_576 {
  width: 100%;
  height: 2707px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_584 {
  width: 100%;
  height: 792px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v262_585 {
  width: 917px;
  color: linear-gradient(rgba(255,255,255,1), rgba(111,111,111,1));
  position: absolute;
  top: 8px;
  left: 262px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v262_586 {
  width: 887px;
  color: rgba(134,119,119,1);
  position: absolute;
  top: 473px;
  left: 277px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v262_587 {
  width: 150px;
  height: 64px;
  background: linear-gradient(rgba(239,239,239,1), rgba(255,255,255,1));
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 646px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v262_588 {
  width: 106px;
  color: rgba(23,23,23,1);
  position: absolute;
  top: 19px;
  left: 22px;
  font-family: Kodchasan;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v262_595 {
  width: 100%;
  height: 789px;
  background: url("../images/v262_595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1772px;
  left: 0px;
  overflow: hidden;
}
.v262_749 {
  width: 390px;
  height: 572px;
  background: linear-gradient(rgba(13,13,13,1), rgba(255,228,209,1));
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 66px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v262_750 {
  width: 143px;
  height: 143px;
  background: url("../images/v262_750.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 123px;
  overflow: hidden;
}
.v262_751 {
  width: 143px;
  height: 143px;
  background: rgba(214,214,214,1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.v262_752 {
  width: 119px;
  height: 101px;
  background: rgba(214,214,214,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 11px;
}
.v262_753 {
  width: 288px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 264px;
  left: 51px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v262_601 {
  width: 390px;
  height: 572px;
  background: linear-gradient(rgba(13,13,13,1), rgba(255,228,209,1));
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 525px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v262_602 {
  width: 143px;
  height: 143px;
  background: url("../images/v262_602.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 123px;
  overflow: hidden;
}
.v262_603 {
  width: 143px;
  height: 143px;
  background: rgba(214,214,214,1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.v262_604 {
  width: 119px;
  height: 101px;
  background: rgba(214,214,214,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 11px;
}
.v262_605 {
  width: 288px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 264px;
  left: 51px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v262_743 {
  width: 390px;
  height: 572px;
  background: linear-gradient(rgba(13,13,13,1), rgba(255,228,209,1));
  opacity: 1;
  position: absolute;
  top: 174px;
  left: 984px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v262_744 {
  width: 143px;
  height: 143px;
  background: url("../images/v262_744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 123px;
  overflow: hidden;
}
.v262_745 {
  width: 143px;
  height: 143px;
  background: rgba(214,214,214,1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.v262_746 {
  width: 119px;
  height: 101px;
  background: rgba(214,214,214,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 11px;
}
.v262_747 {
  width: 288px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 264px;
  left: 51px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v262_613 {
  width: 820px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 310px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 88px;
  opacity: 1;
  text-align: center;
}
.v262_755 {
  width: 100%;
  height: 133px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2574px;
  left: 0px;
  overflow: hidden;
}
.v262_756 {
  width: 100%;
  height: 107px;
  background: url("../images/v262_756.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 21px;
  overflow: hidden;
}
.v262_757 {
  width: 100%;
  height: 107px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_758 {
  width: 342px;
  height: 18px;
  background: url("../images/v262_758.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 89px;
  overflow: hidden;
}
.v262_759 {
  width: 342px;
  color: rgba(151,149,180,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v262_760 {
  width: 482px;
  color: url("../images/v262_760.png");
  position: absolute;
  top: 66px;
  left: 832px;
  font-family: DM Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v269_1143 {
  width: 100%;
  height: 104px;
  background: url("../images/v269_1143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v269_1144 {
  width: 100%;
  height: 104px;
  background: url("../images/v269_1144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v269_1145 {
  width: 100%;
  height: 104px;
  background: url("../images/v269_1145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v269_1147 {
  width: 139px;
  height: 50px;
  background: url("../images/v269_1147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 15px;
  overflow: hidden;
}
.v269_1148 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7200000286102295);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v262_1045 {
  width: 100%;
  height: 854px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 886px;
  left: 83px;
  overflow: hidden;
}
.v262_1051 {
  width: 100%;
  height: 854px;
  background: url("../images/v262_1051.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1052 {
  width: 100%;
  height: 854px;
  background: url("../images/v262_1052.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1053 {
  width: 100%;
  height: 854px;
  background: url("../images/v262_1053.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1054 {
  width: 100%;
  height: 854px;
  background: url("../images/v262_1054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1055 {
  width: 100%;
  height: 854px;
  background: url("../images/v262_1055.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1056 {
  width: 100%;
  height: 854px;
  background: url("../images/v262_1056.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1057 {
  width: 100%;
  height: 854px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v262_1058 {
  width: 100%;
  height: 854px;
  background: url("../images/v262_1058.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1059 {
  width: 100%;
  height: 854px;
  background: url("../images/v262_1059.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1063 {
  width: 591px;
  height: 764px;
  background: url("../images/v262_1063.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2px 2px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 345px;
  overflow: hidden;
}
.v262_1089 {
  width: 584px;
  height: 396px;
  background: url("../images/v262_1089.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 3px;
  overflow: hidden;
}
.v262_1090 {
  width: 584px;
  height: 396px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1091 {
  width: 584px;
  height: 396px;
  background: linear-gradient(rgba(0,119,220,1), rgba(0,128,166,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1092 {
  width: 664px;
  height: 241px;
  background: url("../images/v262_1092.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 0px;
  overflow: hidden;
}
.v262_1093 {
  width: 397px;
  height: 237px;
  background: rgba(42,80,216,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 129.63229370117188px 136.17938232421875px 213px rgba(0.9833333492279053, 0.9259722232818604, 0.8399305939674377, 1);
}
.v262_1094 {
  width: 580px;
  height: 189px;
  background: rgba(42,80,216,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 83px;
  box-shadow: 11.784753799438477px 31.426010131835938px 43px rgba(0.4588235318660736, 0.6431372761726379, 0.6352941393852234, 1);
}
.v262_1095 {
  width: 389px;
  height: 239px;
  background: url("../images/v262_1095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 0px;
  overflow: hidden;
}
.v262_1096 {
  width: 389px;
  height: 237px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v262_1097 {
  width: 389px;
  height: 239px;
  background: linear-gradient(rgba(241,173,72,0), rgba(241,172,72,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v262_1098 {
  width: 389px;
  height: 237px;
  background: url("../images/v262_1098.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1099 {
  width: 389px;
  height: 237px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v262_1100 {
  width: 502px;
  height: 187px;
  background: rgba(42,80,216,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 82px;
  box-shadow: -26.188343048095703px 44.520179748535156px 108px rgba(0.1210416704416275, 0.3499999940395355, 0.2571790814399719, 0.8199999928474426);
}
.v262_1101 {
  width: 584px;
  height: 396px;
  background: url("../images/v262_1101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1102 {
  width: 584px;
  height: 396px;
  background: linear-gradient(rgba(217,217,217,1), rgba(217,217,217,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1103 {
  width: 610px;
  height: 413px;
  background: rgba(255,255,255,0.004999999888241291);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 14px;
  overflow: hidden;
}
.v262_1104 {
  width: 584px;
  height: 396px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1105 {
  width: 502px;
  height: 187px;
  background: url("../images/v262_1105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 81px;
  overflow: hidden;
}
.v262_1106 {
  width: 502px;
  height: 187px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v262_1107 {
  width: 515px;
  height: 187px;
  background: linear-gradient(rgba(0,79,213,1), rgba(35,124,200,1));
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 14px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v262_1111 {
  width: 367px;
  height: 140px;
  background: url("../images/v262_1111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 134px;
  overflow: hidden;
}
.v262_1112 {
  width: 367px;
  height: 140px;
  background: linear-gradient(rgba(217,217,217,1), rgba(217,217,217,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v262_1113 {
  width: 596px;
  height: 185px;
  background: rgba(217,217,217,0.00009999999747378752);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 138px;
}
.v262_1085 {
  width: 570px;
  color: rgba(41,41,41,1);
  position: absolute;
  top: 291px;
  left: 356px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
