/* Estilos básicos (MOBILE FIRST) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Container do login */
.container-login {
    width: 100%;
    max-width: 350px;
    background: #111;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

/* Título */
h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

/* Campos de entrada */
.grupo-input {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    margin-left: 2%;
}

input {

    padding: 13px;
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    border-radius: 10px;
    outline: none;
    transition: background 0.3s, border-color 0.3s, transform 0.2s;
    width: 100%;
    max-width: 350px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

input:focus {
    background: #f0f0f0;
    border-color: #000000;
    transform: scale(1.02);
}

/* Botão de login */
.botao-login {
    background: #333333;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s;
}

.botao-login:hover {
    background: #6d6d6d;
    transform: scale(1.05);
}

/* Link de cadastro */
.link-cadastro {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.link-cadastro a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.link-cadastro a:hover {
    color: #6d6d6d;
    text-decoration: underline;
}

/* Rodapé */
footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    padding: 10px;
}

/* (TABLETS) */
@media (min-width: 600px) {
    .container-login {
        max-width: 400px;
        padding: 2.5rem;
    }
}

/* DESKTOPS */
@media (min-width: 1024px) {
    body {
        padding: 0;
    }

    .container-login {
        max-width: 450px;
        padding: 3rem;
        border-radius: 15px;
    }

    input {
        padding: 18px;
        font-size: 1rem;
    }

    .botao-login {
        padding: 15px;
        font-size: 1.1rem;
    }

    .botao-login:hover {
        transform: scale(1.08);
    }
}